body, ul{
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Começo das configs do cabeçalho*/
.logo{
    width: 140px;
    margin-left: 32px;
    height: 60px;
    cursor: pointer;
}
.teste{
    height: 650px;
    width: 850px;
    border: 1px red solid;
}

.icons{
    height: 70px;
    margin-left: 10px;
}

.img-csp{
    margin-right: 30px;
}

.img-sp{
    margin-right: 60px;
}

#header{
    display: flex;
    width: 100%;
    height: 75px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(189, 0, 4);
}

#menu{
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 10px;
}

#menu li{
    display: block;
}

h1{
    text-align: center;
    color: rgb(49, 49, 49);
    margin-top: 35px;
}

p{
    text-align: justify;
    margin-left: 55px;
    margin-right: 55px;
    line-height: 25px;
}

.links{
    font-size: 12px;
    margin-left: 55px;
    list-style: none;
    text-decoration: none;
    color: black;
    margin-top: 5px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
}

a:hover{
    text-decoration: underline;
}
/*Fim das configs do cabeçalho*/

/* Inicio ao bloco de consulta a biblioteca */
.descricao p{
    text-align: center;
}
.content {

    margin: 10px auto;
    padding: 0px;
    /* border: 2px red solid;
    box-shadow: 1px 2px 3px rgb(0, 0, 0) ; */
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
}
.content fieldset{
    margin: 15px auto;
    padding: 20px;
    border: 2px rgb(167, 0, 0) solid;
    border-radius: 10px;
    width: 90%;
    height: 450px;
    /* alterar para fazer a insercao de fotos */
}
.content legend{
    margin-left: -20px;
    font-size: 20px;
    font-weight: bold;
}
.content select{
    cursor: pointer;
    margin-left: 50px;
    border-radius: 8px;
    border: 1px black solid;
    height: 24px;
    width: 150px;
}
.content select:focus{
    outline: 0;
}
.content select:invalid{
    color: gray;
}
/* div para barra de pesquisa */
.divBusca{
    display: inline-block;
    margin: 5px auto;
    margin-left: 5px;
    margin-bottom: -7px;
    padding: 0px;
    /* para  alinhar a div com o select */   
    background-color: rgb(255, 255, 255);
    border: 1px black solid;
    border-radius: 8px;
    width: auto;
    height: 21px;
}
.divBusca input{
    float: left;
    background-color: transparent;
    font-size: 18px;
    padding-left: 5px;
    border: none;
    /* border: 1px red solid; */
    height: 21px;
    width: auto;
          
}
.divBusca input:focus{
    border: none;
    outline: 0px;
    /* border: 1px red solid; */
    font-size: 19px;
}
.divBusca button{
    border: none;
    float: right;
    height: 21px;
    border-radius: 0 7px 7px 0;
    width: 60px;
    font-weight: bold;
    color: white;
    background: rgb(190, 0, 0);
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}
.divBusca button:hover{
    transition: 0.3s;
    font-size: 15px;
    background-color: rgba(190, 0, 0, 0.596);
}
.divBusca img{
    float: left;
    padding-top: 1px;
    padding-left: 3px;
    width: 18px;
}

/* fim barra de pesquisa */
.divLivros{
    display: block;
    margin: 10px auto;
    border-radius: 8px;
    border: 1px black solid;
    border-radius: 2px black;
    height: auto;
    width: 95%;
}
/* fim bloco */

/*Configs do rodapé*/ 
.footer{
    background-color: rgb(46, 46, 46);
    display: flex;
    max-width: 100%;
    text-align: center;
    gap: 15px;
    margin-top: 40px;
}

#rodape li{
    color: white;
    list-style: none;
    line-height: 25px;
    margin-top: 12px;
    margin: 20px 25px 20px 10px;
    font-size: 15px;
}

#rodape a{
    color: white;
    font-size: 15px;
}

#rodape h4{
    font-size: 18px;
    border-bottom: solid 2px;
    border-radius: 10px;
    border-width:thin;
    color: rgb(121, 121, 121);
}
.iconLink a:hover{
    text-decoration: none;
    margin: 8px;
    filter: brightness(33%);
    transition: 0.2s;  
}
#rodape a:hover{
    text-decoration: underline;
    transition: 0.2s
}
#rodape img{
    width: 45px;
    height: 45px;
}
/*Fim das configs do rodapé*/

@media (max-width: 700px){
    #header{
        display: flex;
        width: 100%;
        height: 60px;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(189, 0, 4);
    }
    #menu{
        list-style: none;
        display: flex;
        gap: 15px;
        margin: 10px;
        max-width: 100%;
    }
    .logo{
        width: 90px;
        margin-left: 5px;
        height: 50px;
    }
    
    .icons{
        height: 50px;
        margin-left: 10px;
        width: 60px;
    }
    
    .img-csp{
        margin-right: 8px;
    }
    
    .img-sp{
        margin-right: 5px;
    }
    p{
        margin-left: 20px;
        margin-right: 20px;
    }
    .links{
        margin-left: 15px;
    }
    .footer{
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #rodape{
        margin: 0 0 0 25px;
    }
    .content {

        margin: 10px auto;
        padding: 0px;
        /* border: 2px red solid;
        box-shadow: 1px 2px 3px rgb(0, 0, 0) ; */
        width: 80%;
        height: 450px;
        align-items: center;
        justify-content: center;
        transition: 0.2s;
    }
    .content fieldset{
        margin: 10px auto;
        padding: 20px;
        border: 2px rgb(167, 0, 0) solid;
        border-radius: 10px;
        width: auto;
        height: 88%;
        transition: 0.2s;
    }
    .content legend{
        margin-left: -20px;
    }
    .content select{
        cursor: pointer;
        margin: 5px auto;
        margin-left: 5px;
        border-radius: 8px;
        border: 1px black solid;
        height: 24px;
        width: 150px;
    }
    .content select:focus{
        outline: 0;
    }
    .content select:invalid{
        color: gray;
    }
    /* div para barra de pesquisa */
    .divBusca{
        display: inline-block;
        margin: 5px auto;
        margin-left: 5px;
        margin-bottom: -7px;
        padding: 0px;
        /* para  alinhar a div com o select */
        background-color: rgb(255, 255, 255);
        border: 1px black solid;
        border-radius: 8px;
        width: auto;
        height: 21px;
        transition: 0.2s;
    }
    .divBusca input{
        float: left;
        background-color: transparent;
        font-size: 18px;
        padding-left: 5px;
        border: none;
        height: 21px;
        width: auto;
        transition: 0.2s;
            
    }
    .divBusca input:focus{
        border: none;
        outline: 0px;
        font-size: 18px;
    }
    .divBusca button{
        border: none;
        float: right;
        height: 21px;
        border-radius: 0 7px 7px 0;
        width: 40px;
        font-weight: bold;
        font-size: 10px;
        color: white;
        background: rgb(190, 0, 0);
        cursor: pointer;
        position: relative;
        transition: 0.2s;
    }
    .divBusca button:hover{
        transition: 0.3s;
        font-size: 12px;
        background-color: rgba(190, 0, 0, 0.596);
    }
    .divBusca img{
        float: left;
        padding-top: 1px;
        padding-left: 3px;
        width: 18px;
    }
    /* fim barra de pesquisa */
    .divLivros{
        display: block;
        margin: 10px auto;
        border: 1px black solid;
        border-radius: 2px black;
        height: 90% auto;
        width: auto;
        transition: 0.2s;
    }
}
@media (max-width: 450px) {
    .divBusca input{
        float: left;
        background-color: transparent;
        font-size: 16px;
        padding-left: 5px;
        height: 21px;
        width: 65%;
        transition: 0.2s;
        /* border: 1px red solid; */

    }
    .divBusca input:focus{
        border: none;
        outline: 0px;
        font-size: 16px;
    }
    .divBusca button{
        border: none;
        float: right;
        height: 21px;
        border-radius: 0 7px 7px 0;
        width: auto;
        font-weight: bold;
        font-size: 8px;
        color: white;
        background: rgb(190, 0, 0);
        cursor: pointer;
        position: relative;
        transition: 0.2s;
    }
    .divBusca button:hover{
        transition: 0.3s;
        font-size: 11px;
        background-color: rgba(190, 0, 0, 0.596);
    }
    .divBusca img{
        float: left;
        padding-top: 1px;
        padding-left: 3px;
        width: 18px;
    }
    .content select{
        cursor: pointer;
        margin-left: 5px;
        border-radius: 8px;
        border: 1px black solid;
        height: 24px;
        width: 65%;
    }
    /* fim barra de pesquisa */
    .divLivros{
        display: block;
        margin: 10px auto;
        border: 1px black solid;
        border-radius: 2px black;
        height: 90% auto;
        width: auto;
        transition: 0.2s;
    }    
}
@media(max-width:300px){
    .divBusca input{
        float: left;
        background-color: transparent;
        font-size: 9px;
        padding-left: 5px;
        height: 21px;
        width: 50%;
        transition: 0.2s;
        /* border: 1px red solid; */

    }
    .divBusca input:focus{
        border: none;
        outline: 0px;
        font-size: 8px;
    }
    .divBusca button{
        border: none;
        padding: 0px;
        float: right;
        height: 21px;
        border-radius: 0 7px 7px 0;
        width: 20%;
        font-weight: bold;
        font-size: 8px;
        color: white;
        background: rgb(190, 0, 0);
        cursor: pointer;
        position: relative;
        transition: 0.2s;
    }
    .divBusca button:hover{
        transition: 0.3s;
        font-size: 9px;
        background-color: rgba(190, 0, 0, 0.596);
    }
    .divBusca img{
        float: left;
        padding-top: 2px;
        padding-left: 3px;
        width: 16px;
    }
    .content select{
        cursor: pointer;
        margin-left: 5px;
        border-radius: 8px;
        border: 1px black solid;
        font-size: 12px;
        height: 24px;
        width: auto;
    }
    .content legend{
        margin-left: -20px auto;
        font-size: 14px;
    }
}