body, ul{
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo{
    width: 140px;
    margin-left: 32px;
    height: 60px;
}

.icons{
    height: 70px;
    margin-left: 10px;
}

.img-csp{
    margin-right: 30px;
}

.img-sp{
    margin-right: 60px;
}

#header{
    display: flex;
    width: 100%;
    height: 75px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(189, 0, 4);
}

#menu{
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 10px;
}

#menu li{
    display: block;
}

h1{
    text-align: center;
    color: rgb(49, 49, 49);
    margin-top: 35px;
}

p{
    text-align: justify;
    margin-left: 55px;
    line-height: 25px;
}

.links{
    font-size: 12px;
    margin-left: 55px;
    list-style: none;
    text-decoration: none;
    color: black;
    margin-top: 5px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
}

a:hover{
    text-decoration: underline;
}

@media (max-width: 600px){
    #header{
        display: flex;
        width: 100%;
        height: 60px;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(189, 0, 4);
    }
    #menu{
        list-style: none;
        display: flex;
        gap: 15px;
        margin: 10px;
        max-width: 100%;
    }
    .logo{
        width: 90px;
        margin-left: 5px;
        height: 50px;
    }
    
    .icons{
        height: 50px;
        margin-left: 10px;
        width: 60px;
    }
    
    .img-csp{
        margin-right: 8px;
    }
    
    .img-sp{
        margin-right: 5px;
    }
    p{
        margin-left: 15px;
        margin-right: 15px;
    }
    .links{
        margin-left: 15px;
    }
}